<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<title>Monthly Budget</title>
	<style>
	h1 {
		text-align: center;
	}
	
	table {
		border: 3px solid black;
		border-spacing: 5px
	}
	
	th {
		text-align: center;
		border: 1px dashed black;
		padding: 10px;
	}
	
	td {
		border: 1px dashed black;
		text-align: right;
		padding: 10px;
		font: CourierNew;
	}
	
	tr:nth-child(even) {
		background-color: #dddddd;
	}
	
	td:nth-child(1) {
		text-align: left;
		font: timesnewroman;
	}
	
	input {
		text-align: right;
		display: inline;
		padding-left: 15px;
		width: 100px;
	}
	
	span.money {
		position:relative;
		margin-right:-15px;
	}
	
	</style>
</head>
<body>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

	<h1>May 2018</h1>
	<div class="container">
		<div class="row">
			<div class="col-sm">
			<span style="text-align: left;padding-right:230px;padding-left:5px">Essentials</span><span style="text-align: right">50%</span>
				<div style="overflow-y:auto">
				<table>
					<tr>
						<th>Description</th>
						<th>Projected</th> 
						<th>Actual</th>
					</tr>
					<tr>
						<td>Rent</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="900.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="900.00"></td>
					</tr>
					<tr>
						<td>Electric</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="70.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="76.43"></td>
					</tr>
					<tr>
						<td>Car</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="350.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="350.00"></td>
					</tr>
					<tr>
						<td>Insurance</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="120.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td>Gas</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="150.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="43.72"></td>
					</tr>
					<tr>
						<td>Cable</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="120.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td>Laundry</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="40.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="10.00"></td>
					</tr>
					<tr>
						<td>Phone</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="90.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td>Food</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="200.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="50.75"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
				</table>
				</div>
			</div>
			<div class="col-sm">
				<span style="text-align: left;padding-right:230px;padding-left:5px">Savings</span><span style="text-align: right">30%</span>
				<div style="overflow-y:auto">
				<table>
					<tr>
						<th>Description</th>
						<th>Projected</th> 
						<th>Actual</th>
					</tr>
					<tr>
						<td>Stu Loans</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="600.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="300.00"></td>
					</tr>
					<tr>
						<td>Savings</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="100.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td>Credit Card</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="50.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="50.00"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
				</table>
				</div>
			</div>
			<div class="col-sm">
			<span style="text-align: left;padding-right:230px;padding-left:5px">Personal</span><span style="text-align: right">20%</span>
				<div style="overflow-y:auto">
				<table>
					<tr>
						<th>Description</th>
						<th>Projected</th> 
						<th>Actual</th>
					</tr>
					<tr>
						<td>Movies</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="30.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td>Clothes</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="100.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td>Music</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="20.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td>Netflix</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="14.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="14.00"></td>
					</tr>
					<tr>
						<td>Gym</td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="20.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="20.00"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
					<tr>
						<td></td>
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td> 
						<td><span class="money">$</span><input type="number" min="0" max="9999999999" step="1.00" value="0.00"></td>
					</tr>
				</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>