{% extends "main.html" %}
{% block title %}Monthly Budget{% endblock %}
{% block head %}
	{{ super() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
{% endblock %}
{% block body %}
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
<canvas id="bar-chart" align="center" width=70% height=50%></canvas>
</div>
<script type="text/javascript">
	// Bar chart
	new Chart(document.getElementById("bar-chart"), {
		type: 'bar',
		data: {
		  labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
		  datasets: [
			{
			  label: "Population (millions)",
			  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
			  data: [2478,5267,734,784,433]
			}
		  ]
		},
		options: {
		  legend: { display: false },
		  title: {
			display: true,
			text: 'Predicted world population (millions) in 2050'
		  }
		}
	});
</script>
{% endblock %}