<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel="stylesheet" href="static/css/main.css">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	{% block head %}
	<title>{% block title %}Budget Calculator{% endblock %}</title>
	{% endblock %}
	</head>

<header>
	<nav class="navbar navbar-default navbar-dark" style="background-color: var(--main-dark-green)" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
			<img src="static/img/open-iconic-master/png/calculator-4x.png"><a class="navbar-brand brand-text" href='/homepage'>Budget Calc</a>
		</div>
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" 
		   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="/test"><img class="drop" src="static/img/open-iconic-master/png/spreadsheet-2x.png">TEST</a>
				<div class="dropdown-divider"></div>
				{% if current_user.is_authenticated %}
					<a class="dropdown-item" href="/logout"><img class="drop" src="static/img/open-iconic-master/png/account-logout-2x.png">Logout</a>
				{% else %}
					<a class="dropdown-item" href="/register"><img class="drop" src="static/img/open-iconic-master/png/plus-2x.png">Register</a>
					<a class="dropdown-item" href="/login"><img class="drop" src="static/img/open-iconic-master/png/account-login-2x.png">Login</a>
				{% endif%}
			</div>
		</div>
	</nav>
</header>

<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class="flashes" style="margin: 10px 50px 10px 0px">
		{% for message in messages %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  				</button>
			</div>
		{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
	{% block body %}{% endblock %}
</body>

</html>